.container_element {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 30px 0px 1.5rem 0px;
  left: 0px;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-box-shadow: 0px -2px 32px -4px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px -2px 32px -4px rgba(214, 214, 214, 1);
  box-shadow: 0px -2px 32px -4px rgba(214, 214, 214, 1);
}

.btn {
  background-color: #378ef7 !important;
  color: #fff !important;
  width: 90%;
  padding: 15px 50px !important;
  border-radius: 50px !important;
}
